
    .bg {
        background-color: #fbf1c7;
    }
    .green {
        background-color: #98971a;
    }
    .blue {  
        background-color: #458588;
        color: #076678;
    }
    .purple {
        background-color: #b16286;
        color: #8f3f71;
    }
    .gray {
        background-color: #7c6f64;
        color: #3c3836; /* full gray */
    }
    .orange {
        background-color: #d65d0e;
    }

@media (prefers-color-scheme: light){
    @font-face {
        font-family: "InterMedium";
        src: url('Inter-Medium.woff') format('woff');
    }
    body {
        font-family: "InterMedium";
        background-color: #fbf1c7;
        color: #3c3836;
        margin: 0;
    }
    header {
        background-color: #458588;
        color: #fff;
        padding: .3em .7em;
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        z-index: 999;
    }
    div.box {
        /* flex: 1 1 150px;  Stretching: */
        flex: 1;
    }
    @media only screen and (max-width: 359px) {
        div.box {
            margin-bottom: -1.2em;
        }
    }
    div.main {
        position: relative;
        padding: .7em;
        margin: 4em 0;
    }
    @media only screen and (max-width: 359px) {
        div.main {
            margin: 5em 0;
        }
    }
    footer {
        background-color: #7c6f64;
        bottom: 0;
        position: fixed;
        width: 100%;
    }
    footer ul {
        list-style-type: none;
        padding-left: .7em;
    }
    li.nav {
        line-height: 1.1em;
        display: inline;
        padding-right: .2em;
    }
    li a {
        text-decoration: none;
        color: #ebdbb2; 
    }
    li a:hover {
        color: #fbf1c7;
        font-size: larger;
    }
    h1 {
        font-size: xx-large;
        color: #458588;
    }
    .imgdiv {
        float: right;
        position: relative;
        margin-top: -2.6em;
        width: 36em;
    }
    @media only screen and (max-width: 896px) {
        .imgdiv {
            margin: auto auto;
            float: none;
            position: relative;
            width: 14em;
        }
    }
    .imgdiv img {
            width: inherit;
            border: solid 5px #b16286;
            border-radius: 1em;
    }
    a {
        text-decoration: none;
        color: #d3869b;
    }
    a:hover {
        color: #b16286;
    }
}